* text=auto !eol
projects/svncmd/README_EN.txt -text
projects/svncmd/Scripts/bb~git_init.bat -text
projects/svncmd/Scripts/bb~git_pull_all.bat -text
projects/svncmd/Scripts/bb~git_reset_all.bat -text
projects/svncmd/Scripts/bb~svn_to_git_fetch.bat -text
projects/svncmd/Scripts/bb~svn_to_git_sync_all.bat -text
projects/svncmd/Scripts/configure.bat -text
projects/svncmd/Scripts/gh~git_init.bat -text
projects/svncmd/Scripts/gh~git_pull_all.bat -text
projects/svncmd/Scripts/gh~git_reset_all.bat -text
projects/svncmd/Scripts/gh~svn_to_git_fetch.bat -text
projects/svncmd/Scripts/gh~svn_to_git_sync_all.bat -text
projects/svncmd/configure.bat -text
projects/svncmd/configureex.bat -text
projects/svncmd/deploy/bb~git_init.bat -text
projects/svncmd/deploy/bb~git_pull_all.bat -text
projects/svncmd/deploy/bb~git_reset_all.bat -text
projects/svncmd/deploy/bb~svn_to_git_fetch.bat -text
projects/svncmd/deploy/bb~svn_to_git_sync_all.bat -text
projects/svncmd/deploy/configure.bat -text
projects/svncmd/deploy/gh~git_init.bat -text
projects/svncmd/deploy/gh~git_pull_all.bat -text
projects/svncmd/deploy/gh~git_reset_all.bat -text
projects/svncmd/deploy/gh~svn_to_git_fetch.bat -text
projects/svncmd/deploy/gh~svn_to_git_sync_all.bat -text
projects/svncmd/deploy/sf~svn_checkout_all.bat -text
projects/svncmd/deploy/sf~svn_update_all.bat -text
projects/svncmd/svncmd/bb~git_init.bat -text
projects/svncmd/svncmd/bb~git_pull_all.bat -text
projects/svncmd/svncmd/bb~git_reset_all.bat -text
projects/svncmd/svncmd/bb~svn_to_git_fetch.bat -text
projects/svncmd/svncmd/bb~svn_to_git_sync_all.bat -text
projects/svncmd/svncmd/configure.bat -text
projects/svncmd/svncmd/gh~git_init.bat -text
projects/svncmd/svncmd/gh~git_pull_all.bat -text
projects/svncmd/svncmd/gh~git_reset_all.bat -text
projects/svncmd/svncmd/gh~svn_to_git_fetch.bat -text
projects/svncmd/svncmd/gh~svn_to_git_sync_all.bat -text
projects/svncmd/svncmd/sf~svn_checkout_all.bat -text
projects/svncmd/svncmd/sf~svn_update_all.bat -text
