* text=auto !eol
projects/svncmd/README_EN.txt -text
projects/svncmd/bb~svncmd--Scripts.git_init.bat -text
projects/svncmd/bb~svncmd--Scripts.git_pull_all.bat -text
projects/svncmd/bb~svncmd--Scripts.git_reset_all.bat -text
projects/svncmd/bb~svncmd--Scripts.svn_to_git_fetch.bat -text
projects/svncmd/bb~svncmd--Scripts.svn_to_git_sync_all.bat -text
projects/svncmd/bb~svncmd--deploy.git_init.bat -text
projects/svncmd/bb~svncmd--deploy.git_pull_all.bat -text
projects/svncmd/bb~svncmd--deploy.git_reset_all.bat -text
projects/svncmd/bb~svncmd--deploy.svn_to_git_fetch.bat -text
projects/svncmd/bb~svncmd--deploy.svn_to_git_sync_all.bat -text
projects/svncmd/bb~svncmd.git_init.bat -text
projects/svncmd/bb~svncmd.git_pull_all.bat -text
projects/svncmd/bb~svncmd.git_reset_all.bat -text
projects/svncmd/bb~svncmd.svn_to_git_fetch.bat -text
projects/svncmd/bb~svncmd.svn_to_git_sync_all.bat -text
projects/svncmd/configure.bat -text
projects/svncmd/gh~svncmd--Scripts.git_init.bat -text
projects/svncmd/gh~svncmd--Scripts.git_pull_all.bat -text
projects/svncmd/gh~svncmd--Scripts.git_reset_all.bat -text
projects/svncmd/gh~svncmd--Scripts.svn_to_git_fetch.bat -text
projects/svncmd/gh~svncmd--Scripts.svn_to_git_sync_all.bat -text
projects/svncmd/gh~svncmd--deploy.git_init.bat -text
projects/svncmd/gh~svncmd--deploy.git_pull_all.bat -text
projects/svncmd/gh~svncmd--deploy.git_reset_all.bat -text
projects/svncmd/gh~svncmd--deploy.svn_to_git_fetch.bat -text
projects/svncmd/gh~svncmd--deploy.svn_to_git_sync_all.bat -text
projects/svncmd/gh~svncmd.git_init.bat -text
projects/svncmd/gh~svncmd.git_pull_all.bat -text
projects/svncmd/gh~svncmd.git_reset_all.bat -text
projects/svncmd/gh~svncmd.svn_to_git_fetch.bat -text
projects/svncmd/gh~svncmd.svn_to_git_sync_all.bat -text
projects/svncmd/sf~deploy.svn_checkout_all.bat -text
projects/svncmd/sf~deploy.svn_update_all.bat -text
projects/svncmd/sf~svncmd.svn_checkout_all.bat -text
projects/svncmd/sf~svncmd.svn_update_all.bat -text
