projects/svncmd/*.bat
projects/svncmd/*.lst
projects/svncmd/*.sh
projects/svncmd/*.vars
projects/svncmd/*.yaml
projects/svncmd/.log
projects/svncmd/Scripts/*.bat
projects/svncmd/Scripts/*.lst
projects/svncmd/Scripts/*.sh
projects/svncmd/Scripts/*.vars
projects/svncmd/Scripts/*.yaml
projects/svncmd/Scripts/.log
projects/svncmd/deploy/*.bat
projects/svncmd/deploy/*.lst
projects/svncmd/deploy/*.sh
projects/svncmd/deploy/*.vars
projects/svncmd/deploy/*.yaml
projects/svncmd/deploy/.log
projects/svncmd/svncmd/*.bat
projects/svncmd/svncmd/*.lst
projects/svncmd/svncmd/*.sh
projects/svncmd/svncmd/*.vars
projects/svncmd/svncmd/*.yaml
projects/svncmd/svncmd/.log
