projects/svncmd/*.vars
projects/svncmd/Scripts/*.lst
projects/svncmd/Scripts/*.vars
projects/svncmd/deploy/*.lst
projects/svncmd/deploy/*.vars
projects/svncmd/svncmd/*.lst
projects/svncmd/svncmd/*.vars
