* text=auto !eol
_svncmd/bb~svncmd--Scripts.git_fetch.bat -text
_svncmd/bb~svncmd--Scripts.git_init.bat -text
_svncmd/bb~svncmd--Scripts.git_pull_all.bat -text
_svncmd/bb~svncmd--Scripts.git_reset_all.bat -text
_svncmd/bb~svncmd--Scripts.svn_to_git_sync_all.bat -text
_svncmd/bb~svncmd.git_fetch.bat -text
_svncmd/bb~svncmd.git_init.bat -text
_svncmd/bb~svncmd.git_pull_all.bat -text
_svncmd/bb~svncmd.git_reset_all.bat -text
_svncmd/bb~svncmd.svn_to_git_sync_all.bat -text
_svncmd/configure.bat -text
_svncmd/gh~svncmd--Scripts.git_fetch.bat -text
_svncmd/gh~svncmd--Scripts.git_init.bat -text
_svncmd/gh~svncmd--Scripts.git_pull_all.bat -text
_svncmd/gh~svncmd--Scripts.git_reset_all.bat -text
_svncmd/gh~svncmd--Scripts.svn_to_git_sync_all.bat -text
_svncmd/gh~svncmd.git_fetch.bat -text
_svncmd/gh~svncmd.git_init.bat -text
_svncmd/gh~svncmd.git_pull_all.bat -text
_svncmd/gh~svncmd.git_reset_all.bat -text
_svncmd/gh~svncmd.svn_to_git_sync_all.bat -text
_svncmd/sf~svncmd.svn_checkout_all.bat -text
_svncmd/sf~svncmd.svn_update_all.bat -text
